<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllinOne"
        tools:targetApi="31">
        <activity
            android:name=".activities.KeyboardHider"
            android:exported="false" />
        <activity
            android:name=".activities.PasswordViewer"
            android:exported="false" />
        <activity
            android:name=".activities.DelayedText"
            android:exported="false" />
        <activity
            android:name=".activities.TextToggle"
            android:exported="false" />
        <activity
            android:name=".activities.SnackbarNotifier"
            android:exported="false" />
        <activity
            android:name=".activities.CounterApp"
            android:exported="false" />
        <activity
            android:name=".activities.RadioSelector"
            android:exported="false" />
        <activity
            android:name=".activities.CheckBoxSelector"
            android:exported="false" />
        <activity
            android:name=".activities.TitleChanger"
            android:exported="false"
            android:theme="@style/Theme.AllinOne" />
        <activity
            android:name=".activities.ImageSwitcher"
            android:exported="false" />
        <activity
            android:name=".activities.SliderValue"
            android:exported="false" />
        <activity
            android:name=".activities.ScrollContent"
            android:exported="false" />
        <activity
            android:name=".activities.ComponentLayout"
            android:exported="false" />
        <activity
            android:name=".activities.WebOpener"
            android:exported="false" />
        <activity
            android:name=".activities.ActivityLauncher"
            android:exported="false" />
        <activity
            android:name=".activities.ToastMaker"
            android:exported="false" />
        <activity
            android:name=".activities.InputDisplay"
            android:exported="false" />
        <activity
            android:name=".activities.ColorChanger"
            android:exported="false" />
        <activity
            android:name=".activities.TextSwitch"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AllinOne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>